h1 {
    color: yellow;
}

p {
    color: #8fce00;
}

li {
    color: #ffffff;}


body {
  background-color: pink;
}
h2{color:white;} .video{color:white;} .game{color:#DCDC40;}
body {
 background-image: url("https://i.pinimg.com/originals/92/17/a8/9217a86945b10b32d03b1ae913d4af14.jpg");
 
}